body{
 background-color: rgb(224, 228, 228);
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
.container{
    display: flex;
   text-align: center;
   justify-content: center;
   height: 70vh;
   
}
#container{
    width: 300px;
    padding:10px 10px 20px 10px;
    margin: 30px auto;
    background-color: rgb(183, 183, 209);
  border-radius: 4px;
  border-top: 4px solid rgb(218, 213, 213);
  border-right: 4px solid rgb(218, 213, 213);
  border-bottom:  4px solid rgb(144, 138, 138);
  border-left: 4px solid rgb(144, 138, 138);
}
#display{
  display: inline-block;
  margin:15px auto;
  height: 42px;
  width: 280px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 400;
}
.button{
  display:inline-block;
  margin: 6px;
  width: 48px;
  height: 48px;
  font-size: 22px;
  border-radius: 4px;
}
.mathButtons{
  color: white;
background-color: rgba(8, 8, 8, 0.726);
border-top: 4px solid rgb(219, 212, 212);
border-right: 4px solid rgb(216, 209, 209);
border-bottom: 4px solid black;
border-left: 4px solid black;
}
.digits{
background-color: rgb(141, 146, 146);
border-top: 4px solid rgb(230, 220, 220);
border-right: 4px solid white;
border-bottom: 4px solid rgb(90, 87, 87);
border-left: 4px solid rgb(105, 102, 102);

}
.clearButton{
background-color: red;
}

.digits:hover,.mathButtons:hover{
  background-color:orange ;
  border-top: 4px solid rgb(160, 88, 62);
  border-right: 4px solid rgb(160, 88, 62);
  border-bottom: 4px solid rgb(148, 49, 19);
  border-left: 4px solid rgb(148, 49, 19);
  box-shadow: 0px 0px 2px 
  
}